:root {
    /* Light Mode Colors */
    --txt-light: #2D2D2D;
    --bg-light: #F5F9FC;
    --prm-light: #0077B6;
    --scnd-light: #48CAE4;
    --ac-light: #FF6B6B;

    /* Dark Mode Colors */
    --txt-dark: #E0E0E0;
    --bg-dark: #1A1A2E;
    --prm-dark: #0F3460;
    --scnd-dark: #00ADB5;
    --ac-dark: #FF2E63;

    /* Shared Styles */
    --font-prm: 'Rajdhani', sans-serif;
    --font-scnd: 'Poppins', sans-serif;
}

/* Light Mode */
.light-mode {
    color: var(--txt-light);
    background-color: var(--bg-light);
}

/* Dark Mode */
.dark-mode {
    color: var(--txt-dark);
    background-color: var(--bg-dark);
}

/* Ensure HTML & Body Cover Full Height */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.nav-bar {
    width: 100%;
    height: 60px;
    background-color: var(--bg-light);
    border: 1px solid var(--prm-light);
    display: flex;
    align-items: center;
    position: fixed;
}

.nav-button {
    height: 80%;
    background-color: var(--bg-light);
    font-family: var(--font-scnd);
    font-weight: 300;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.nav-button:hover {
    text-decoration: underline;
}

/* Heading Styles */
.heading {
    width: 100%;
    padding-left: 5%;
    padding-top: 7%;
}

.title {
    font-family: var(--font-prm);
    font-weight: 700;
    font-size: 100px;
}

.heading-body {
    font-family: var(--font-scnd);
    font-size: 25px;
    font-weight: 300;
}

/* Bulleted List & Step Styles */
.bulleted-list {
    /* padding-left: 5%; */
    width: 40%;
    font-family: var(--font-scnd);
    margin-top: 40px;
    /* spacing below heading */
}

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.step-left {
    width: 40px;
    /* Adjust width as needed */
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--ac-light);
    line-height: 1;
}

.step-right {
    display: flex;
    flex-direction: column;
}

.step-title {
    font-size: 24px;
    font-weight: 400;
    align-items: middle;
}

.step-bullet {
    margin-left: 10px;
    font-size: 18px;
    /* You can adjust the color below if you want a different shade for the bullet text */
    color: var(--txt-light);
}

.bulleted-list-graphic{
    width: 70%;
    border: 1px, solid, black;
}

.container {
    margin: 50px;
    display: flex;
}